extends layout
block content
    div
      form(action='/login?clientId=#{clientId}&clientSecret=#{clientSecret}',method='post')
        p
            label(for='username') Username: 
               input(id='username', type='text',value='', name='username')
        p
            label(for='password') Password: 
               input(id='password', type='password',value='', name='password')
        p
            input(type='submit',value='Login')